body {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  flex-basis: 700px;
}

.row {
  display: flex;
  width: 200px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.column {
  border: 2px solid black;
  background-color: white;
  padding: 20px;
}

#grid-btn {
  margin-bottom: 10px;
}

.btn {
  padding: 20px 10px;
  border: none;
  border-radius: 5px;
  background-color: #090949;
  color: white;
}
