body {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 700px;
}

.row {
  display: flex;
  flex-basis: 100px;
}

.column {
  border: 2px solid black;
  background-color: white;
  flex-basis: 50px;
}
